@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Philosopher:ital@1&family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: black;
    color: white;
    text-align: center;
}

div{
    font-size: 150px;
    height: 200px;
    border: 9px solid red;
    animation: 5s example infinite;
    border-radius: 20px;
}
 
.digit{
    font-size: 150px;
    color: #fff;
}
 
.txt{
    font-size: 100px;
    color: #fffcd6;
}
 
#buttons{
    margin-top: 50px;
}
 
.btn{
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    font-weight: 500;
}
 
#start{
    background-color: green;
}
 
#stop{
    background-color: orange;
}
 
#reset{
    background-color: red;
}

@keyframes example{
    from{border-color: red;}
    to{border-color: bisque;}
}
